.footer__3_x9k {
  background-image: url(/static/footer.2ddd0363.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: auto 50px;
  padding-bottom: 50px; }
.navbar__3ER7B {
  transition: background-color 0.5s ease-in-out, opacity 0.5s ease-in-out; }
  @media (min-width: 768px) {
    .navbar__3ER7B {
      background-color: transparent !important; } }

.scroll__8LqSu {
  background-color: #f8f9fa !important; }

.nav-link__3PDcE {
  font-weight: bold; }

.logo__101_G {
  max-width: 200px;
  opacity: 0; }
  @media (max-width: 767px) {
    .logo__101_G {
      opacity: 1; } }

.scroll__8LqSu .logo__101_G {
  opacity: 1; }
html {
  overflow-y: scroll; }

body {
  font-family: "Raleway", sans-serif;
  color: #444444; }

.navbar-light .navbar-nav .nav-link {
  color: #444444; }

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #2b2b2b; }

h1,
h2,
h3 {
  font-weight: bold; }
.bg__36ppH {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url(/static/about-brush.c427cdbc.jpg);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 14%; }
  @media (max-width: 1100px) {
    .bg__36ppH {
      background-size: 18%; } }
.row-about__3lJn2 {
  background-color: #fcfcfe;
  background-image: url(/static/me.41a2082b.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 600px; }
  @media (max-width: 1100px) {
    .row-about__3lJn2 {
      min-height: 400px; } }

.col-about__1XQqj {
  padding-top: 150px;
  padding-bottom: 30px; }

h2.about-heading__3YuNE,
h3.about-heading__3YuNE {
  text-align: right; }

.about-para__2qpOw {
  text-align: justify; }
.bg-top__zLJ6H {
  position: absolute;
  height: 40%;
  top: 0;
  left: 0;
  right: 0;
  background-image: url(/static/top-brush.6136ef96.jpg);
  background-size: auto 75%;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  overflow: hidden; }

.svg-top__384uN {
  height: 100%;
  position: absolute;
  left: -325px; }

.top-first__f53Cc,
.top-second__qF8KY {
  stroke-width: 2px;
  stroke-dasharray: 2500;
  stroke-dashoffset: 2500;
  animation: dash-top__2F8ma 5s linear forwards;
  fill: transparent; }

@keyframes dash-top__2F8ma {
  to {
    stroke-dashoffset: 20; } }

.bg-bottom__28cGq {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(/static/bottom-brush.f49d5417.jpg);
  background-size: auto 75%;
  background-position: bottom 0px right -68px;
  background-repeat: no-repeat;
  overflow: hidden; }

.svg-bottom__3lWmY {
  height: 100%;
  position: absolute;
  right: -391px;
  fill: transparent; }

.bottom-first__y8RC2,
.bottom-second__zxjbh {
  stroke-width: 1.5px;
  stroke-dasharray: 2500;
  stroke-dashoffset: 2500;
  animation: dash-bottom__3-XQc 5s linear forwards; }

@keyframes dash-bottom__3-XQc {
  to {
    stroke-dashoffset: 20; } }
.col-name__3iVQJ {
  padding-top: 300px;
  text-align: center; }
  @media (max-width: 767px) {
    .col-name__3iVQJ {
      padding-top: 190px; } }

.name-box__2q85C {
  display: inline-block;
  text-align: right; }

.name-separator__2893g {
  width: 30px;
  border-top: 3px solid #444444; }
.section-heading__ziv-s {
  margin-top: 50px; }

.project-card__nVu4i {
  margin-bottom: 40px; }
.header__29K5M {
  margin-top: 80px; }

.subtitle__1f1xA {
  font-weight: normal; }

.small-dash__TTpyt {
  border-top: 5px solid;
  width: 50px; }
.project-page__32lnt {
  font-family: "Roboto", sans-serif;
  font-weight: 300; }
  .project-page__32lnt h1,
  .project-page__32lnt h2,
  .project-page__32lnt h3,
  .project-page__32lnt .btn__3SfJQ {
    font-family: "Raleway", sans-serif; }
  .project-page__32lnt h2 {
    font-size: 26px; }
  .project-page__32lnt h3 {
    font-size: 22px;
    margin-top: 20px; }
  .project-page__32lnt h4 {
    font-size: 16px;
    font-style: italic; }

.theme-purple__-WBW- h1 {
  color: #6d4970; }

.theme-purple__-WBW- h2 {
  color: #b8a4b5; }

.theme-purple__-WBW- hr {
  border-top-color: #b8a4b5; }

.theme-purple__-WBW- .btn {
  color: #6d4970;
  border-color: #6d4970; }
  .theme-purple__-WBW- .btn:hover, .theme-purple__-WBW- .btn:active {
    color: #fff;
    background-color: #b8a4b5; }

.theme-orange__1ohgE h1 {
  color: #c66f39; }

.theme-orange__1ohgE h2 {
  color: #d1997b; }

.theme-orange__1ohgE hr {
  border-top-color: #d1997b; }

.theme-orange__1ohgE .btn {
  color: #c66f39;
  border-color: #c66f39; }
  .theme-orange__1ohgE .btn:hover, .theme-orange__1ohgE .btn:active {
    color: #fff;
    background-color: #d1997b; }

.theme-brick__p9rUh h1 {
  color: #7b4250; }

.theme-brick__p9rUh h2 {
  color: #9c5c50; }

.theme-brick__p9rUh hr {
  border-top-color: #9c5c50; }

.theme-brick__p9rUh .btn {
  color: #7b4250;
  border-color: #7b4250; }
  .theme-brick__p9rUh .btn:hover, .theme-brick__p9rUh .btn:active {
    color: #fff;
    background-color: #9c5c50; }
.image-title__1_CaL {
  margin: 5px 0 0 0;
  text-align: center; }

/*# sourceMappingURL=build-html-styles.css.map*/