//2023 colors
$offwhite-color:#FFFCF8;
$beige-color:#F8F2E1;
$coral-color:#FC7E55;
$blue-color:#4166C6; 
$navy-color: #292D4D;

// New colors
$snow-color: #ffffff;
$chestnut-color: #ac8a72;
$brick-color: #9d4400;
$bark-color: #613402;

// Newer colors
$ocean-color: #7db3cd;
$cauliflower-color: #fef8ec;
$cream-color: #f2ece2;
$taupe-color: #735d45;
$lapis-color: #001AFF;

$highlight-color: #ffd400bf;
$black-color: #000000;
$grey-color: #9a9a9a;
$stone-color: #bfbfbf;

$link-color: $offwhite-color;
$link-hover-color: $coral-color;
$h1-text-color: $blue-color;
$h2-text-color: $blue-color;
$section-header-color: $taupe-color;
$body-text-color: $navy-color;
$project-title-color: $blue-color;
$nav-text-color: $offwhite-color;
