$project-main-purple: #6d4970;
$project-sub-purple: #b8a4b5;
$project-main-orange: #c66f39;
$project-sub-orange: #d1997b;
$project-main-brick: #7b4250;
$project-sub-brick: #9c5c50;

$mustard-color: #c09a2d;
$paprika-color: #aa4725;
$bark-color: #613402;
$light-blue-color: #a4cbd0;

$h1-text-color: $paprika-color;
$h2-text-color: $mustard-color;
$body-text-color: $bark-color;
