@import "./_colors.scss";

$section-divider: 1px solid $navy-color;

@mixin cta-button {
  border: 1px solid $taupe-color;
  padding: 13px;
  border-radius: 30px;
  box-shadow: 5px 5px $taupe-color;
  display: inline-block;
  margin-bottom: 15px;

  &:hover span, &:focus span {
    text-decoration: underline !important;
  }
}