@import "./_fonts.scss";
@import "./_colors.scss";

:global {
  html {
    overflow-y: scroll;
  }
  body {
    font-family: $body-font;
  }

  .navbar-light .navbar-nav .nav-link {
    color: $body-text-color;
  }
  .navbar-light .navbar-nav .nav-link:focus,
  .navbar-light .navbar-nav .nav-link:hover {
    color: $body-text-hover-color;
  }

  h1,
  h2,
  h3 {
    font-weight: bold;
  }
}
