@import "./_fonts.scss";
@import "./_colors.scss";

html {
  overflow-y: scroll;
}
body {
  font-family: $body-font;
  color: $body-text-color;
  font-weight: 300;
}

.navbar-light .navbar-nav .nav-link {
  color: $paprika-color;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: $light-blue-color;
}

h1 {
  font-weight: bold;
}

.card-title {
  font-weight: 400;
}
p {
  margin-top: 1rem;
}
