@import "./_fonts.scss";
@import "./_colors.scss";

html {
  overflow-y: scroll;

  body {
    font-family: $body-font;
    color: $body-text-color;
    font-weight: 300;
  }

  body.theme-dark {
    background-color: $graphite-color;
    color: $snow-color;
  }

  .navbar-light .navbar-nav {
    .nav-link {
      color: $paprika-color;
      &:focus,
      &:hover {
        color: $baby-blue-color;
      }
    }
  }

  .navbar-dark .navbar-nav {
    .nav-link {
      color: $baby-blue-color;
      &:focus,
      &:hover {
        color: $paprika-color;
      }
    }
  }

  b,
  strong {
    font-weight: 700;
  }

  h1 {
    font-weight: bold;
    font-family: $heading-font;
  }

  .card-title {
    font-weight: 400;
  }
  p {
    margin-top: 1rem;
  }
  a,
  a:focus,
  a:hover,
  a:visited {
    color: $link-color;
  }

  .highlight {
    box-shadow: rgba(255, 200, 44, 0.5) 0px -0.6em inset;
  }
}
