@import "../styles/_colors.scss";
@import "../styles/_fonts.scss";
@import "../styles/_projects";

.about-page {
  color: $bark-color;
}

.social-media-row, .chat-row {
  border-top: $section-divider;
}
.about p {
}

.experience {

}

.experience-table {
  width: 100%;
  .experience-name {

  }
  .experience-period {
    text-align: right;
  }
}