@import "../styles/_colors.scss";
@import "../styles/_fonts.scss";
@import "../styles/_projects.scss";

.section-3 {
  color: $almost-black-color;
  background-color: $almost-white-color;
  padding-top: 24px;
  padding-bottom: 24px;
  box-shadow: inset 0px 3px 0px #191919;

}
.section-1 {
  padding-top: 160px;
  padding-bottom: 48px;
  background-color: $almost-white-color;
  color: $almost-black-color;

}
.section-2 {
  background-color: $almost-white-color;
  padding-top: 32px;
}


.hello {
  color: $almost-black-color;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 0px;
  @media (min-width: 576px) {
    font-size: 24px;
  }
}

.more-of-me {
  color: $almost-black-color;
  text-transform: uppercase;
  font-size: 20px;
  padding-top: 32px;
  margin-bottom: 8px;
  @media (min-width: 576px) {
    font-size: 24px;
  }
  @media (min-width: 768px) {
    padding-top: 0;
  }

}
.content{
  padding-bottom: 16px;
  margin:0;
}

.design-experience {
  color: $almost-black-color;
  text-transform: uppercase;
  font-size: 20px;
  @media (min-width: 576px) {
    font-size: 24px;
  }
}

.experience{
  padding-top: 8px;
  @media (min-width: 768px) {
    padding-top: 0;
  }
}

.experience-table {
  width: 100%;
  td {
    display: block;
  }
  tr {
    display: block;
    margin-bottom: 16px;
  }
  .experience-name {
    font-weight: 700;
  }
  .experience-type {
    font-weight: 400;
  }
  
  .experience-period {
    font-weight: 400;
    font-size: 12px;
  }
}