@import "../styles/_colors.scss";
@import "../styles/_fonts.scss";
@import "../styles/_projects.scss";

.about-page {
  // color: $bark-color;
}

.hello{
  color: $black-color;
  font-size: 24px;
}

.about h2 {
  color: $brick-color;
  font-size: 20px;
  
  @media (min-width: 414px) {
    font-size: 24px;
  }
  @media (min-width: 1024px) {
    font-size: 32px;
  }
}

.smile{
  text-align: center;
}

.experience {
}

.experience-table {
  width: 100%;
  td {
    display: block;
  }
  tr {
    margin-bottom: 32px;
  }
  .experience-name {
    font-weight: 700;
  }
  .experience-period {
    font-weight: 400;
  }
}

.resume-button {
  @include cta-button();
}

@mixin border($side) {
  border-#{$side}: $section-divider;
}
.border-right {
  @include border(right);
}
.border-bottom {
  @include border(bottom);
}