@import "../styles/_colors.scss";
@import "../styles/_fonts.scss";
@import "../styles/_projects.scss";

.section-1,
.section-3 {
  background-color: $green-color;
  color: $beige-color;
  padding-top: 50px;
  padding-bottom: 50px;
}
.section-1 {
  padding-top: 120px;
}
.section-2 {
  background-color: $cauliflower-color;
  padding-top: 50px;
}

.hello {
  color: $cauliflower-color;
  font-size: 24px;
  text-transform: uppercase;
}
.more-of-me {
  color: $green-color;
  text-transform: uppercase;
}

.design-experience {
  color: $cauliflower-color;
  text-transform: uppercase;
}

.about h2 {
  color: $brick-color;
  font-size: 20px;

  @media (min-width: 414px) {
    font-size: 24px;
  }
  @media (min-width: 1024px) {
    font-size: 32px;
  }
}

.smile {
  text-align: center;
}

.experience {
}

.experience-table {
  width: 100%;
  td {
    display: block;
  }
  tr {
    display: block;
    margin-bottom: 16px;
  }
  .experience-name {
    font-weight: 700;
  }
  .experience-type {
    font-weight: 400;
  }
  
  .experience-period {
    font-weight: 400;
    font-size: 12px;
  }
}

.resume-button {
  @include cta-button();
}

@mixin border($side) {
  border-#{$side}: $section-divider;
}
.border-right {
  @include border(right);
}
.border-bottom {
  @include border(bottom);
}
