@import "../styles/_colors.scss";

.col-name {
  padding-top: 300px;
}
.name {
  font-weight: bold;
}

.name-separator {
  width: 30px;
  border-top: 3px solid #444;
}

.subtitle {
}

.row-me {
  min-height: 400px;
  background-image: url("../../static/images/me.jpg");
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
}

.col-me {
  padding-top: 100px;
}

h2.about-heading,
h3.about-heading {
  font-weight: bold;
  text-align: right;
}

.about-para {
  text-align: justify;
}
