@import "../styles/_colors.scss";
@import "../styles/_fonts.scss";
@import "../styles/_layout.scss";

.nice-break-page {
  h1 {
    color: $baby-blue-color;
  }
  h4 {
    color: $lemon-color;
  }
  hr {
    border-top-color: $lemon-color;
  }
}
