.link {
  text-decoration: none;
  color: #708779;

	
}
.link:hover {
  text-decoration: underline;
  color: #0066FF;
}

.link:visited{
	color: #0066FF;
}
#main {
	width: 900px;
	height: 800px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px; 
	margin-bottom: 0px;
}

#main.index-page {
  height: 991px;
}
#main.materials-page {
  height: 1940px;
}
#main.cupcake-page {
  height: 2430px;
}
#main.prom-page {
  height: 1800px;
}
#main.dotted-page {
  height: 1500px;
}
#main.credits-page {
  height: 520px;
}
#main.tutorials-page {
  height: 1140px;
}
#main.nailart-page {
  height: 3130px;
}

#banner {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 900px;
	height: 290px;
	
}

#nav {
	position: absolute;
	top: 300px;
	right: 0px;
	width: 900px;
	height: 20px;
	background-color: #83E3A6;
}

.menu {
	text-decoration: none;
	color: #708779;
	padding-left: 65px;
	padding-right: 65px;
	font-family: Helvetica, Times;
	font-size: 12pt;
	font-variant:small-caps;
	font-weight: bold;
	
}

.menu:hover{
	color: #0066FF;
}

#content {
	position: absolute;
	top: 325px;
	right: 0px;
	bottom: 0px;
	width: 900px;
	height: 455px;
}

#right {
	float: right;
	width: 600px;
	padding: 10px;
	color: #708779;
	background-color: #FFF8F8;
	opacity:0.8;
	font-family: Helvetica, Times;
	font-size: 12pt;
}

#article {
	position: absolute;	
	width: 880px;
	padding: 10px;
	color: #708779;
	background-color: #FFF8F8;	
	opacity:0.8;
	font-family: Helvetica, Times;
	font-size: 12pt;
}
.welcome {
text-align:center; 
color: #5CE68A;
text-shadow: 4px 3px 1px #FFFF99;
font-weight: bold;
font-size: 22pt;
font-family: "Century Gothic";
 }

 .me{
 font-family: "Texas Hero", LaurenScript; 
 font-size: 18pt;
 font-weight: bold;
 }
 
 .cupcake {
 text-align:center; 
	color: #5CE68A;
	text-shadow: 4px 3px 1px #FFFF99;
	font-weight: bold;
	font-size: 22pt;
	font-family: "Century Gothic";
 }
 
 h2 {
 color: #00CC7A;
 }

#left {
	float: left;
	width: 240px;
	padding: 10px;
	color: #708779;
	background-color: #FFF8F8;
	opacity:0.8;
	font-family: Helvetica, Times;
}

.nailslink {
text-decoration: none;
}

.cupcake-crop
{
  overflow: hidden;
  height: 350px;
  width: 600px;
}

.materials-page h2,
.materials-page h3 {
  color: #00CC7A;
}


#footer {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 900px;
	height: 15px;
	background-color: #83E3A6;
}
.copyright{
	text-decoration: none;
	font-size: 8pt;
	font-family: Helvetica, Times;
	color: #000000;
	padding-left:400px;
	padding-right:400px;
}

.copyright:hover{
	color: #0066FF;
}

body{
padding-top: 0px;
background-color: #FA7A7A;
font-family: Helvetca, Times;
}

