.bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url("../../static/images/about-brush.png");
  background-position: left top;
  background-size: 18%;
  background-repeat: no-repeat;
}
