.bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url("../../static/images/about-brush.jpg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 14%;
  @media (max-width: 1100px) {
    background-size: 18%;
  }
}
