@import "../styles/_colors.scss";
@import "../styles/_fonts.scss";

h1.about-heading {
  color: $h1-text-color;
  font-weight: 700;
  font-family: $heading-font;
  font-size: 24px;
  @media (min-width: 768px) {
    font-size: 40px;
  }
  @media (min-width: 1200) {
    font-size: 40px;
  }
}
h2.about-heading {
  color: $h2-text-color;
  font-weight: 700;
  font-size: 20px;
  @media (min-width: 768px) {
    font-size: 28px;
  }
  @media (min-width: 992px) {
    font-size: 20px;
  }
}
h1.about-heading,
h2.about-heading {
  text-align: right;
}

.social-media {
  text-align: right;
  margin-bottom: 1rem;
  a,
  a:visited {
    color: $baby-blue-color;
  }

  a.instagram:hover,
  a.instagram:focus {
    color: #c32aa3;
  }
  a.linked-in:hover,
  a.linked-in:focus {
    color: #0077b5;
  }
}

.about-para {
  text-align: right;
  font-size: 16px;
  @media (min-width: 768px) {
    font-size: 20px;
  }
}

.bold{
  font-weight: 700;
}
