.bg-top {
  position: absolute;
  height: 40%;
  top: 0;
  left: 0;
  right: 0;
  background-image: url("../../static/images/top-brush.jpg");
  background-size: auto 75%;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  overflow: hidden;
}
.svg-top {
  height: 100%;
  position: absolute;
  left: -325px;
}

.top-first,
.top-second {
  stroke-width: 2px;
  stroke-dasharray: 2500;
  stroke-dashoffset: 2500;
  animation: dash-top 5s linear forwards;
  fill: transparent;
}

@keyframes dash-top {
  to {
    stroke-dashoffset: 20;
  }
}

.bg-bottom {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../../static/images/bottom-brush.jpg");
  background-size: auto 75%;
  background-position: bottom 0px right -68px;
  background-repeat: no-repeat;
  overflow: hidden;
}
.svg-bottom {
  height: 100%;
  position: absolute;
  right: -391px;
  fill: transparent;
}

.bottom-first,
.bottom-second {
  stroke-width: 1.5px;
  stroke-dasharray: 2500;
  stroke-dashoffset: 2500;
  animation: dash-bottom 5s linear forwards;
}

@keyframes dash-bottom {
  to {
    stroke-dashoffset: 20;
  }
}
