@import "../styles/_colors.scss";

html {
  .footer {
    padding-bottom: 100px;
  }
}

.section {
  background: $blue-color;
}
.container {
}
.footer-row {
 min-height: 100px;
}
.footer-col {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: $offwhite-color;
}
