@import "../styles/_colors.scss";
@import "../styles/_fonts.scss";

html {
  .footer {
    padding-bottom: 100px;
  }
}

.section {
  background: $almost-black-color;
  padding-top: 32px;
  padding-bottom: 32px;

  @media (min-width: 768px) {
    padding: 32px 56px;
  }
  @media (min-width: 1400px) {
    padding: 32px 96px;
  }
}


.footer-left {
  text-align: left;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  font-family: $heading-font;
  color: $almost-white-color;
  padding-bottom: 16px;
  // padding: 0 0 24px 0;
  @media (min-width: 576px) {
    padding-bottom: 0;
  }
}
.footer-right {
  text-align: left;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  font-family: $heading-font;
  color: $almost-white-color;
  // padding: 0;
  @media (min-width: 576px) {
    text-align: right;
  }
}
