@import "../styles/_colors.scss";

html {
  .footer {
    padding-bottom: 50px;
    color: $chestnut-color;
  }
}

.footer-row {
  border-top: 1px solid $chestnut-color;
  color: $chestnut-color;
  & > div:first-child {
    padding-left: 0;
  }
}