@import "../styles/_colors.scss";

.navbar {
  transition: background-color 0.5s ease-in-out, opacity 0.5s ease-in-out;
  @media (min-width: 768px) {
    background-color: transparent !important;
  }
}

.scroll {
  background-color: #f8f9fa !important;
}

.nav-link {
  font-weight: 500;
}

.nav-link:hover {
  color: orange;
}

.logo {
  max-width: 200px;
  opacity: 0;

  @media (max-width: 767px) {
    opacity: 1;
  }
}

.scroll .logo {
  opacity: 1;
}
