@import "../styles/_colors.scss";
@import "../styles/_fonts.scss";

html {
  .navbar {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 12px;
    transition: background-color 0.5s ease-in-out, opacity 0.5s ease-in-out;
    background-color: #f8f9fa !important;

    @media (min-width: 576px) {
      margin-top: 6px;
      padding-top: 2em;
      padding-left: 2em;
      padding-right: 2em;
    }
    @media (min-width: 768px) {
      background-color: transparent !important;
    }
    &.scroll {
      background-color: #f8f9fa !important;
    }
  }

  :global(.navbar-collapse) {
    height: 100vh;
    @media screen and (min-width: 768px) {
      height: auto;
    }
  }

  :global(.navbar-dark).scroll {
    background-color: #252525 !important;
  }

  .logo {
    max-width: 200px;
  }

  .scroll .logo {
    opacity: 1;
  }

  .brand-circle {
    width: 32px;
    height: 32px;
    border-radius: 24px;
    background: $baby-blue-color;
    float: left;
    margin-top: 3px;
    @media screen and (min-width: 768px) {
      width: 48px;
      height: 48px;
      margin-top: 0;
    }
  }

  :global(.navbar-dark) .brand-circle {
    background: $lemon-color;
  }

  .brand-name {
    font-family: $heading-font;
    color: $paprika-color;
    float: left;
    margin-left: 16px;
    font-size: 13px;
    @media screen and (min-width: 768px) {
      font-size: 16px;
    }
    font-weight: 700;
  }

  :global(.navbar-dark) .brand-name {
    color: $baby-blue-color;
  }

  .navbar-toggler {
    border: none;
    padding-left: 4px;
    color: $paprika-color !important;
    font-family: $heading-font;
    font-size: 16px;
    svg path {
      color: $paprika-color;
    }
  }

  :global(.collapse.show ul),
  :global(.collapsing ul) {
    font-size: 36px;
    text-align: center;
    margin-top: 20px;
  }

  .nav-toggle-close svg path {
    color: $stone-color !important;
  }
}
