@import "../styles/_colors.scss";
@import "../styles/_fonts.scss";

html {
  .navbar {
    // border-bottom: 1px solid $chestnut-color;
    background-color: $blue-color;
    padding: 12px 0 12px 0;
  }

  .nav-open {
    background-color: #fff !important;
    transition: none;
  }

  :global(.navbar-collapse) {
    height: 100vh;
    @media screen and (min-width: 768px) {
      height: auto;
    }
  }

  .logo {
    height: 24px;
  }

  .navbar-brand {
    display: block;
    padding-top: 4px;
  }

  .brand {
    font-family: $heading-font;
  }

  .scroll .logo {
    opacity: 1;
  }

  .navbar-toggler {
    border: none;
    padding-left: 4px;
    color: $nav-text-color !important;
    font-family: $body-font;
    font-size: 16px;
    line-height: 2em;
    svg path {
      color: $nav-text-color;
    }
    &:active,
    &:focus {
      outline: none;
    }
  }

  .nav-link {
    font-size: 16px;
  }

  :global(.collapse.show ul),
  :global(.collapsing ul) {
    font-size: 36px;
    text-align: center;
    margin-top: 20px;
  }

  .nav-toggle-close svg path {
    color: $nav-text-color !important;
  }
}
