@import "../styles/_colors.scss";
@import "../styles/_fonts.scss";

html {
  .navbar {
    font-family: $heading-font;
    transition: background-color 0.5s ease-in-out, opacity 0.5s ease-in-out;

    @media (min-width: 576px) {
      padding-top: 2em;
      padding-left: 2em;
      padding-right: 2em;
    }
    @media (min-width: 768px) {
      background-color: transparent !important;
    }
  }

  .scroll {
    background-color: #f8f9fa !important;
  }

  .nav-link {
    font-weight: 500;
    color: $paprika-color;
  }

  .nav-link:hover {
    color: $light-blue-color;
  }

  .logo {
    max-width: 200px;
  }

  .scroll .logo {
    opacity: 1;
  }
}
