@import "../styles/_colors.scss";

.navbar {
  transition: background-color 0.5s ease-in-out;
  @media (min-width: 768px) {
    background-color: transparent !important;
  }
}

.scroll {
  background-color: #f8f9fa !important;
}

.nav-link {
  font-weight: bold;
}
