@import "../styles/_colors.scss";
@import "../styles/_fonts.scss";

html {
  .image-box {
    cursor: pointer;
  }

  .modal {
    max-width: 90%;
  }

  .img-caption {
    margin-top: 8px;
    color: $image-caption-color;
  }
}
