@import "../styles/_colors.scss";

.page-border {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 15px solid $light-blue-color;
  box-sizing: border-box;
  z-index: 2000;
}
