   @import "../styles/_colors.scss";
@import "../styles/_projects.scss";

.project-title {
  font-weight: 600;
  color: $offwhite-color;
}
.project-description {
  color: $offwhite-color;

}
.project-row {
}
.horizontal-line-row:not(:last-child) div {
  border-bottom: $section-divider;
}

.view-case-study-button {
  text-decoration: none !important;

  @include cta-button();
}
