@import "../styles/_colors.scss";
@import "../styles/_fonts.scss";

// @mixin project-theme($primary-color, $secondary-color) {
//   h1,
//   h2,
//   h3 {
//     color: $primary-color;
//   }
//   h4 {
//     color: $secondary-color;
//   }
//   hr {
//     border-top-color: $secondary-color;
//   }
//   :global .background-theme-color {
//     background-color: $secondary-color;
//   }
//   :global .btn {
//     color: $primary-color;
//     border-color: $primary-color;

//     &:hover,
//     &:active {
//       color: #fff;
//       background-color: $secondary-color;
//     }
//   }
// }

html {
  .project-page {
    h1 {
      font-weight: 600;
      margin-bottom: 0px;
      font-size: 48px;
      color: $blue-color;
      text-transform: none;
    }
    h2 {
      font-size: 24px;
    }
    h3 {
      font-size: 24px;
      margin: 20px 0 5px 0;
      font-weight: bold;
      color: $blue-color;
      font-family: $body-font !important;
      
    }
    h4 {
      font-size: 20px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    background-color: $offwhite-color;
    :global .btn {
      border-color: $taupe-color;

      &:hover,
      &:active {
        color: #fff;
        background-color: $cream-color;
      }
    }
    p{
      font-weight: 400;
      font-size: 18px;

    }
  }
}
