@import "../styles/_colors.scss";
@import "../styles/_fonts.scss";

html {
  .header {
    color: $beige-color;
    min-height: 400px;
  }

  .company-term {
    margin-top: 10px;
    font-weight: normal;
  }

  .company {
  }
}
.project-title {
}
.section-image {
  background-color: $green-color;
  padding-top: 80px;
}
