@import "../styles/_colors.scss";
@import "../styles/_projects.scss";

.row {
  padding-top: 75px;
  padding-bottom: 75px;
}
.project-title {
  margin: 0;
  color: $project-title-color;
}

.term {
  color: $blue-color;
  font-size: 16px;
}

.project-description {
  @media (min-width: 1024px) {
    margin: 32px 0 32px 0;
  }
}
.case-study-button {
  color: $navy-color;
  text-transform: uppercase;
  text-decoration: underline;
  // // span {
  // //   text-decoration: underline !important;
  // }

  // @include cta-button();
  // padding: 10px;
  // cursor: url('../../static/images/click-cursor.svg') 22 22, auto;

  // &:hover, &:active {
  //   box-shadow: 5px 5px $link-color;
  //   transform: translate(-5px, -5px);
  //   transition-duration: .5s;
  //   text-decoration: none;
  // }
    &:hover{
      color: $coral-color;
    }
}
