@import "../styles/_colors.scss";
@import "../styles/_fonts.scss";

html {
  .project-cell {
    padding-bottom: 40px;
    transition: filter 300ms ease-out;
  }
  .project-card {
    border: 0;
  }

  .card-header {
    padding: 0 0 10px 0;
  }

  .card-title {
    font-weight: 700;
    font-size: 22px;
    a {
      color: $project-title-color;
    }
  }

  .card-subtitle {
    color: $project-subtitle-color;
  }

  .cell-inactive {
    filter: grayscale(100%) opacity(50%);
  }
}
