@import "../styles/_colors.scss";
@import "../styles/_fonts.scss";

html {
  .header {
  }
  .subtitle {
    font-weight: normal;
  }

  .company-term {
    margin-top: 10px;
    font-weight: normal;
  }
}
