@import "../styles/colors.scss";
@import "../styles/_projects.scss";


.section-more-projects {
  background-color: $almost-white-color;
  padding-top: 16px;
  padding-bottom: 16px;

@media (min-width: 768px) {
  padding-top: 24px;
  padding-bottom: 24px;  }

  box-shadow: inset 0px 3px 0px #191919;
  // padding: 8px 24px 24px 24px;
  // @media (min-width: 768px) {
  //   padding: 32px 56px 56px 56px;
  // }
  // @media (min-width: 1400px) {
  //   padding: 56px 96px 96px 96px;
  // }
}

