@import "../styles/_colors.scss";
@import "../styles/_projects.scss";
@import "../styles/_fonts.scss";

.row {
  padding-top: 56px;
  padding-bottom: 56px;
  @media (min-width: 576px) {
    padding-top: 72px;
    padding-bottom: 72px;
  }
}
.project-card-link {
  &:hover {
    text-decoration: none !important;
  }
}

.project-card-container {
  background-color: $light-beige-color;
  border-radius: 8px;
  margin-bottom: 24px;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: $dark-beige-color;
  }
}

.project-title-container {
padding: 24px 24px 0px 24px;
}


.project-title {
  color: $project-title-color;
  font-size: 18px;
  line-height: 125%;
  margin-bottom: 24px;
  @media (min-width: 576px) {
    font-size: 20px;
  }
  @media (min-width: 768px) {
    font-size: 24px;
  }
  @media (min-width: 1400px) {
    font-size: 28px;
    margin-bottom: 16px;
  }
}

.term {
  color: $light-grey-color;
  font-size: 12px;
  font-weight: 400;
  padding-top: 4px;

  @media (min-width: 576px) {
    font-size: 14px;
  }
  @media (min-width: 1400px) {
    font-size: 16px;
  }
}

.case-study-button {
  display: inline-block;
  color: $blue-color;
  border: 2px solid $blue-color;
  padding: 12px;
  border-radius: 100px;
  font-weight: 600;
  margin-top: 20px;

  @media (min-width: 576px) {
    font-size: 16px;
  }
  @media (min-width: 1400px) {
    font-size: 18px;
  }
  // // span {
  // //   text-decoration: underline !important;
  // }

  // @include cta-button();
  // padding: 10px;
  // cursor: url('../../static/images/click-cursor.svg') 22 22, auto;

  &:hover,
  &:active {
    background-color: $blue-color;
    color: $almost-white-color;
    text-decoration: none !important;
  }
}

.arrow-icon {
  stroke-width: 1.5px;
  margin-top: -3.1px;
  margin-left: 4px;
}

.thumbnail-image {
  padding-bottom: 32px;
  @media (min-width: 768px) {
    padding-bottom: 0px;
  }
}
