@import "../styles/_colors.scss";

.header {
  margin-top: 80px;
}

.header1 {
  h1 {
    color: $project-main-purple;
  }
  h2 {
    color: $project-sub-purple;
  }
}

.header2 {
  h1 {
    color: $project-main-orange;
  }
  h2 {
    color: $project-sub-orange;
  }
}

.header3 {
  h1 {
    color: $project-main-brick;
  }
  h2 {
    color: $project-sub-brick;
  }
}
