@import "../styles/_colors.scss";
@import "../styles/_fonts.scss";

html {
  .header {
  }


  .company-term {
    margin-top: 10px;
    font-weight: normal;
  }

  .company {

  }

  .title {
    font-family: $body-font;
    font-weight: 400;

  }

  .subtitle {
    font-weight: normal;
  }
}

.section-image {
  background-color: $ocean-color;
  padding-top: 80px;
}

.section-name {

}