@import "../styles/_colors.scss";
@import "../styles/_fonts.scss";

html {
  .project-page {
    h1 {
      font-weight: 600;
      margin-bottom: 0px;
      font-size: 32px;
      color: $almost-black-color;
      text-transform: none;
      @media (min-width: 576px) {
        font-size: 40px;
      }
      @media (min-width: 992px) {
        font-size: 48px;
      }
    }
    h2 {
      font-size: 32px;
      font-weight: 600;
      color: $almost-black-color;
      margin: 0 !important;
      @media (min-width: 576px) {
        font-size: 40px;
      }
      @media (min-width: 1400px) {
        font-size: 48px;
      }
    }

    h3 {
      font-size: 20px;
      margin-top: 16px;
      margin-bottom: 0px;
      font-family: $body-font;
      font-weight: 600;
      color: $almost-black-color;
      @media (min-width: 576px) {
        font-size: 24px;
      }
      @media (min-width: 1400px) {
        font-size: 28px;
      }
    }

    h4 {
      font-size: 20px;
      margin-top: 0px;
      margin-bottom: 0px;
    }

    background-color: $almost-white-color;
    :global .btn {

      &:hover,
      &:active {
        color: #fff;
        background-color: $almost-black-color;
      }
    }
    p {
      font-weight: 400;
      font-size: 14px;
      @media (min-width: 576px) {
        font-size: 16px;
      }
      @media (min-width: 1400px) {
        font-size: 18px;
      }
    }
  }
}
