@import "../styles/_colors.scss";
@import "../styles/_fonts.scss";

html {
  .project-group-index {
    position: absolute;
    color: $project-group-title-color;
    font-size: 22px;
    font-weight: 200;
    line-height: 1.2;
    margin-bottom: 0.5rem;
  }
  .project-group {
    margin-left: 40px;
    p {
      margin-left: -40px;
      @media (min-width: 992px) {
        margin-left: 0px;
      }
    }
  }
  .project-group-title {
    color: $project-group-title-color;
    font-weight: 700;
    font-size: 22px;
  }

  .project-cell {
    padding-bottom: 40px;
    transition: filter 300ms ease-out;
  }
  .project-card {
    border: 0;
  }

  .card-header {
    padding: 0 0 10px 0;
  }

  .card-title {
    margin-top: 10px;
    font-weight: 700;
    font-size: 18px;
    a {
      color: $project-title-color;
    }
  }

  .card-subtitle {
    color: $project-subtitle-color;
  }

  .cell-inactive {
    filter: grayscale(100%) opacity(50%);
  }
}
