@import "../styles/_colors.scss";
@import "../styles/_projects.scss";

.project-body{
  padding-top: 24px ;
  @media (min-width: 768px) {
    padding: 32px;
  }
  @media (min-width: 992px) {
    padding: 56px;
  }
}
