@import "../styles/_colors.scss";
@import "../styles/_fonts.scss";

.social-media {
  color: $baby-blue-color;
  flex-shrink: 0;

  a {
    margin-left: 16px;
    margin-right: 16px;
  }
  a:last-child {
    margin-right: 0;
  }

  // a:hover,
  // a:active,
  // a:visited {
  //   color: $mustard-color;
  // }
}

.instagram {
  &,
  &:visited,
  &:active {
    color: $bark-color;
  }
  &:hover {
    color: #c32aa3;
  }
}

.linked-in {
  &,
  &:visited,
  &:active {
    color: $bark-color;
  }
  &:hover {
    color: #0077b5;
  }
}
