@import "../styles/_colors.scss";
@import "../styles/_fonts.scss";

.social-media {
  flex-shrink: 0;
}

// .dark-background {
//   .linked-in,
//   .email {
//     color: $offwhite-color;
//     text-decoration: underline;
//   }
// }

.linked-in, .email {
  padding: 8px 0;
  font-family: $body-font !important;

  &:hover {
    color: $coral-color;
  }
}

// .instagram {
//   &:hover {
//     color: #c32aa3;
//   }
// }
