@import "../../styles/_colors.scss";
@import "../../styles/_fonts.scss";

h1{
  font-weight: 400 !important;
  margin: 16px 0 0 0;

}
.term{
  font-family: $body-font;
  font-weight: 400;
  font-size: 20px !important;
  text-transform: none;
}

.topicRight{
  font-family: $body-font;
  font-weight: 600;
}
.image-title {
  margin: 5px 0 0 0;
  text-align: center;
}

.text-highlight {
  font-weight: 300 !important;
  background-color: $highlight-color;
}

.sub {
    color: $stone-color !important;
  }

.bold{
  font-weight: 600;
}

.cream-bg{
  background-color: $cream-color;
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 16px 24px;

}


.green{
  color:#589F75 ;
}

.red{
  color:#D7737D;
}

