@import "../../styles/_colors.scss";
@import "../../styles/_fonts.scss";

h1 {
  font-weight: 600;
  margin: 16px 0 0 0;
}
.term {
  font-family: $body-font;
  font-weight: 400;
  font-size: 20px !important;
  text-transform: none;
}

.topicRight {
  font-family: $body-font;
  font-weight: 600;
  color: $chestnut-color;
}
.image-title {
  margin: 5px 0 0 0;
  text-align: center;
}

.text-highlight {
  box-shadow: $highlight-color 0px -0.6em inset;
  font-weight: 600;
}

.pin {
  border-left: 10px solid $highlight-color;
  padding-left: 10px;
  margin: 10px 0 10px 0;
}

.sub {
  color: $stone-color !important;
}

.bold {
  font-weight: 600;
}

.cream-bg {
  background-color: $cream-color;
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 16px 20px;
  border: 5px solid $cauliflower-color;
}

.green {
  color: #589f75;
}
.red {
  color: #d7737d;
}

.learning {
  background-color: $highlight-color;
  font-weight: 600;
}

.figure-no-margin-bottom {
  figure {
    margin-bottom: 0;
  }
}
