@import "../../styles/_colors.scss";

.project-page {
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 16px;
    font-style: italic;
  }
}
.theme-purple {
  h1,
  h3 {
    color: $project-main-purple;
  }
  h2,
  h4 {
    color: $project-sub-purple;
  }
  hr {
    border-top-color: $project-sub-purple;
  }
}

.theme-orange {
  h1 {
    color: $project-main-orange;
  }
  h2 {
    color: $project-sub-orange;
  }
  hr {
    border-top-color: $project-sub-orange;
  }
  .btn {
    color: $project-main-orange;
    border-color: $project-main-orange;

    &:hover,
    &:active {
      color: #fff;
      background-color: $project-sub-orange;
    }
  }
}

.theme-brick {
  h1,
  h3 {
    color: $project-main-brick;
  }
  h2,
  h4 {
    color: $project-sub-brick;
  }
  hr {
    border-top-color: $project-sub-brick;
  }
}

.image-title {
  margin: 5px 0 5px 0;
  text-align: center;
}
