@import "../styles/_colors.scss";
@import "../styles/_fonts.scss";

.section {
  background-color: $green-color;
  padding-top: 100px;
}

.container {
  padding-bottom: 100px;
}

.about-para {
  color: $beige-color;
}

.row-about {
  @media (orientation: landscape) {
  min-height: 60vh;
  }
}

.col-about {
  flex-grow: 1;
  @media (min-width: 992px) {
    flex-grow: inherit;
  }
  padding-left: 15px;
  padding-right: 15px;
  position: relative;

  &::after {
    @media (min-width: 992px) {
      content: " ";
      display: block;
      border-left: 1px solid $cauliflower-color;
      height: 280px;
      margin-top: 30px;
      left: 0;
      width: 20px;
    }
  }
}
.about-heading {
  font-size: 32px;
  color: $cauliflower-color;
  @media (min-width: 414px) {
    font-size: 40px;
  }
  @media (min-width: 768px) {
    font-size: 64px;
  }
  @media (min-width: 1024px) {
    font-size: 64px;
  }
  @media (min-width: 1440px) {
    font-size: 72px;
  }
}
.subheading {
  max-width: 86%;
}

.coral-text{
  color: $coral-color;
}

.col-info {
  position: relative;
  margin-bottom: 50px;
  a {
    &,
    &:visited,
    &:active {
      color: $cauliflower-color;
    }
    &:hover {
      color: $cauliflower-color;
    }
  }

  &::before {
    @media (min-width: 992px) {
      content: " ";
      display: block;
      border-left: 1px solid $cauliflower-color;
      height: 300px;
      bottom: 0;
      right: 0;
      width: 20px;
    }
  }
}
