.row-about {
  background-color: #fcfcfe;
  background-image: url("../../static/images/me.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 600px;

  @media (max-width: 1100px) {
    min-height: 400px;
  }
}

.col-about {
  padding-top: 150px;
}

h2.about-heading,
h3.about-heading {
  text-align: right;
}

.about-para {
  text-align: justify;
}
