.row-about {
  background-color: #fcfcfe;
  background-image: url("../../static/images/me.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 600px;

  @media (max-width: 1100px) {
    min-height: 400px;
  }
}

.col-about {
  padding-top: 150px;
  padding-bottom: 30px;
}

h2.about-heading,
h3.about-heading {
  text-align: right;
  font-weight: 600;
}

.about-subtitle {
  text-align: right;
  font-size: 12px;
  font-weight: 500;
  color: #75787a;
}
.about-para {
  text-align: justify;
}
