@import "../styles/_colors.scss";
@import "../styles/_fonts.scss";

.section {
  background-color: $ocean-color;
}

.container {
  padding-bottom: 100px;
  // background: url("../../static/images/glow_bg.png");
  // background-size: 75%;
  // background-repeat: no-repeat;
  // background-position: 100% 50%;
}

.about-para {
  color: $cauliflower-color;
}

.row-about {
  min-height: 80vh;
  padding-bottom: 100px;
}

.col-about {
  flex-grow: 1;
  @media (min-width: 992px) {
    flex-grow: inherit;
  }
  padding-left: 15px;
  padding-right: 15px;
}
.about-heading {
  font-size: 72px;
  color: $cauliflower-color;
}
.subheading {
  max-width: 86%
}

.col-info {
  a {
    &,
    &:visited,
    &:active {
      color: $cauliflower-color;
    }
    &:hover {
      color: $cauliflower-color;
    }
  }
}
