@import "../styles/_colors.scss";

.col-name {
  padding-top: 300px;
  text-align: center;

  @media (max-width: 767px) {
    padding-top: 190px;
  }
}
.name-box {
  display: inline-block;
  text-align: right;
}
.name {
}

.name-separator {
  width: 30px;
  border-top: 3px solid $body-text-color;
}

.subtitle {
}
