@import "../styles/_colors.scss";
@import "../styles/_fonts.scss";

.section-heading {
  margin-top: 50px;
  margin-bottom: 30px;
  font-weight: 700;
  font-family: $heading-font;
  font-size: 48px;
  color: $section-header-color;
}

.project-cell {
  margin-bottom: 40px;
}
.project-card {
  border: 0;
}

.card-header {
  padding: 0 0 10px 0;
}

.card-title {
  font-weight: 700;
  font-family: $heading-font;
  font-size: 22px;
  a {
    color: $project-title-color;
  }
}

.card-subtitle {
  color: $project-subtitle-color;
}
