@import "../styles/_colors.scss";
@import "../styles/_fonts.scss";

.section-header {
  background-color: $offwhite-color;
}

.section-heading {
  font-size: 24px;
  color: $blue-color;
  @media (min-width: 414px) {
    font-size: 32px;
  }
  @media (min-width: 768px) {
    font-size: 40px;
  }
  @media (min-width: 1024px) {
    font-size: 48px;
  }
  @media (min-width: 1440px) {
    font-size: 56px;
  }
}
.section-project {
  background-color: $offwhite-color;
  .container {
    border-top: 1px solid $navy-color;
  }
}
.section-project.first .container {
  border-top: none;
}